<div class="home">
    <h1 class="title1">Welcome to our brokerage house for luxury apartments</h1>

      <div class="div">

        <div class="divImg">
        <img src="../../assets/img/hotel-aerial.jpg" alt="img" class="img">
        <p class="name">BLUE PARADAIS</p>
        </div>

        <div class="parag">
           <h2 class="title2">
            Welcome in Blue Paradais
           </h2>
            <p class="desc">
                You can buy and sell real estate on our site.
            </p>

            <p class="desc2">For more information you can contact as</p>
            <ul class="lists">
                <li class="list"><a href=""><i class="fa-solid fa-location-dot"></i>Adress: Spayn, Tenerife</a></li>
                <li class="list"><a href=""><i class="fa-solid fa-phone-volume"></i>Telepfone: 00436/33455</a></li>
                <li class="list"><a href=""><i class="fa-brands fa-facebook"></i>Facebook</a></li>
                <li class="list"><a href=""><i class="fa-sharp fa-regular fa-envelope"></i>Email</a></li>
            </ul>
        </div>
    </div>
</div>
